.container {
  padding: 1.5rem;
}

.container h3 {
  margin-bottom: 1.5rem;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.list-item {
  position: relative;
  font-size: 1.3rem;
  margin: 0.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-item::before {
  position: absolute;
  left: 0;
  top: 50%;
  border: 1px solid #ddd;
  background-color: #eee;
  content: "";
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  margin: 0 0.5rem;
  transform: rotate(45deg) translateY(-50%);
}
